<h2 id="msg_box" align="center">Please enter your credentials below</h2>

<div id="main" align="center">
	<p id="error_msg" style="font-size:80%; color:red"> </p>

	<form method="post">
		<table>
			<tr>
				<td><label for="username">Username:</label></td>
				<td><input type="text" id="username" name="username" /></td>
			</tr>
			<tr>
				<td><label for="password">Password:</label></td>
				<td><input type="password" id="password" name="password" /></td>
			</tr>
		</table>
	</form>

	<br>
	<button id="login_button">Login</button>
	<button id="signup_button">Add User</button>
</div>

<div id="welcome" align="center">
	<button id="logout_button">Logout</button>
</div>
